Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
SceneTrack.Unity.sln
Temp
.idea/.idea.SceneTrack.Unity/.idea
.idea/.idea.SceneTrack.Unity
.vscode
Assets/Plugins/JetBrains.meta
Assets/Plugins/JetBrains/Editor.meta
Assets/Plugins/JetBrains
SceneTrack.Unity.userprefs
*.st
scenetrack.log
scenetrackfbx.log
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ScriptMapper
Library/ShaderCache.db
Library/shadercompiler-UnityShaderCompiler0.log
Library/metadata
Library/ShaderCache
Library/ScriptAssemblies
scenetrackmidi.log
scenetrackvideo.log
midi.txt
